<div class="fusion-one-third fusion-layout-column">
    <label> First Name <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text* your-name]</div>
    </label>
</div>

<div class="fusion-one-third fusion-layout-column">
    <label> Last Name <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text* text-last-name]</div>
    </label>
</div>
<div class="fusion-one-third fusion-layout-column fusion-column-last">
    <label> Middle Name <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column">[text* text-middle-name]</div>
    </label>
</div>

<div class="fusion-one-half fusion-layout-column">
    <label> Address <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text* text-address]</div>
    </label>
</div>
<div class="fusion-one-half fusion-layout-column fusion-column-last">
    <label> City <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column">[text text-city]</div>
    </label>
</div>

<div class="fusion-one-third fusion-layout-column">
    <label> State / Province <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text* text-state]</div>
    </label>
</div>

<div class="fusion-one-third fusion-layout-column">
    <label> Post Code / Zip <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[number* number-zip]</div>
    </label>
</div>

<div class="fusion-one-third fusion-layout-column fusion-column-last">
    <label> Country <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column">[text* text-country]</div>
    </label>
</div>

<div class="fusion-one-half fusion-layout-column">
    <label> Telephone <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[tel* tel-number]</div>
    </label>
</div>
<div class="fusion-one-half fusion-layout-column fusion-column-last">
    <label> Fax
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[number number-fax]</div></label>
</div>

<div class="fusion-one-full fusion-layout-column">
    <label> Email <span style="color:red">*</span>
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[email* your-email placeholder
            akismet:author_email]</div>
    </label>
</div>


<div class="fusion-one-full fusion-layout-column">
    <label>How were you made aware of the Certified Hotel Asset Manager (CHAM) designation?
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-que] </div></label>
</div>

<div class="fusion-one-full fusion-layout-column">
    <label>Were you previously a CHAM designee or candidate?</label>
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[radio radio-candidate default:1 "Yes" "No"]
    </div>
</div>

<div class="fusion-one-full fusion-layout-column">
    If yes, attach a written details of dates and the reasons for loss of the designation or candidacy
    <label class="file">
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[file designation]</div>
    </label>
</div>

<h3 style="margin: 33px 0px 13px 0px; line-height: 1;">Experience Summary</h3>

<div class="fusion-one-full fusion-layout-column fusion-column-last">
    <label>How many years have you been employed in the hotel asset management profession?
        <br />
        <div class="fusion-one-third fusion-layout-column fusion-column-last" style="margin-top: 9px;">[number
            number-years-of-hamp]</div>
    </label>
</div>

<div class="fusion-one-full fusion-layout-column fusion-column-last">
    <label>How many years have you served in a lead asset
        management role?
        <br />
        <div class="fusion-one-third fusion-layout-column fusion-column-last" style="margin-top: 9px;">[number
            number-years-in-lead-role]</div>
    </label>
</div>

<div class="fusion-one-full fusion-layout-column fusion-column-last">
    <label>How many years in total have you been employed in the hospitality industry?
        <br />
        <div class="fusion-one-third fusion-layout-column fusion-column-last" style="margin-top: 9px;">[number
            number-years-in-hospitality-industry]</div>
    </label>
</div>
<h3 style="clear: both;margin: 33px 0px 13px 0px; line-height: 1;">Education & Professional Education</h3>

<div class="fusion-one-third fusion-layout-column ">
    <label>University / Affiliation / Sponsor
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-university-affiliation-sponsar]
        </div></label>
</div>

<div class="fusion-one-third fusion-layout-column">
    <label>Date
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[date date-education]</div></label>
</div>

<div class="fusion-one-third fusion-layout-column fusion-column-last">
    <label>University / Affiliation / Sponsor
        <div class="fusion-one-full fusion-layout-column">[text text-university-affiliation-sponsar-2]</div></label>
</div>

<div class="fusion-one-third fusion-layout-column ">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-university-affiliation-sponsar-3]
    </div>
</div>

<div class="fusion-one-third fusion-layout-column ">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[date date-education-2]</div>
</div>

<div class="fusion-one-third fusion-layout-column fusion-column-last">
    <div class="fusion-one-full fusion-layout-column">[text text-university-affiliation-sponsar-4]</div>
</div>

<h3 style="margin: 33px 0px 13px 0px; line-height: 1;">Two Letters of Recommendation <span
        style="font-size:16px;">(please attach to the completed application)</span></h3>

<div class="fusion-one-third fusion-layout-column ">
    <label>Name / Title
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text
            text-two-letters-of-recommendation-name-1]</div></label>
</div>

<div class="fusion-one-third fusion-layout-column">
    <label>Phone
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[tel tel-letters-of-recommendation-phone-1]
        </div></label>
</div>

<div class="fusion-one-third fusion-layout-column fusion-column-last">
    <label>File Upload
        <div class="fusion-one-full fusion-layout-column"><label class="file">
                [file recommendation-file-1]
                <span class="file-custom"></span>
            </label></div></label>

</div>


<div class="fusion-one-full fusion-layout-column fusion-column-last"></div>

<div class="fusion-one-third fusion-layout-column ">
    <label>Name / Title
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text
            text-two-letters-of-recommendation-name-2]</div></label>
</div>

<div class="fusion-one-third fusion-layout-column">
    <label>Phone
        <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[tel tel-letters-of-recommendation-phone-2]
        </div></label>
</div>
<div class="fusion-one-third fusion-layout-column fusion-column-last">
    <label>File Upload
        <div class="fusion-one-full fusion-layout-column"><label class="file">
                [file recommendation-file-2]
                <span class="file-custom"></span>
            </label></div></label>
</div>

<b>Note: </b><span>If possible based on nature of experience one letter should be from a current or previous supervisor
    and the other should be from a current or former client/partner</span>
<h3 style="margin: 33px 0px 13px 0px;line-height: 1;">CHAM Application for Candidacy: Certificate of Lead Asset
    Management Experience</h3>
Instructions: Provide detailed examples of your lead management experience for at least the past 7 years on as many
individual hotels as possible. Copy this page as needed. This information is subject to audit and verification.
<div></div>

<div class="fusion-one-sixth fusion-layout-column">
    Year
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-year-1]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    Employer
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-employer-1]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    Title
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-title-1]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    Hotel
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-hotel-1]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column ">
    Detail Description
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-detail-desc-1]
    </div>
</div>

<div class="fusion-one-sixth fusion-layout-column fusion-column-last">
    Name / Contact info
    <div class="fusion-one-full fusion-layout-column">[text text-cham-application-name-contact-1]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-year-2]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-employer-2]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-title-2]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-hotel-2]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-detail-desc-2]
    </div>
</div>

<div class="fusion-one-sixth fusion-layout-column fusion-column-last">
    <div class="fusion-one-full fusion-layout-column">[text text-cham-application-name-contact-2]</div>
</div>


<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-year-3]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-employer-3]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-title-3]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-hotel-3]</div>
</div>

<div class="fusion-one-sixth fusion-layout-column">
    <div class="fusion-one-full fusion-layout-column fusion-spacing-yes">[text text-cham-application-detail-desc-3]
    </div>
</div>

<div class="fusion-one-sixth fusion-layout-column fusion-column-last">
    <div class="fusion-one-full fusion-layout-column">[text text-cham-application-name-contact-3]</div>
</div>
<br />
<br />
<h3 style="margin: 33px 0px 13px 0px; line-height: 1;">Examination Preference</h3>
<div class="fusion-one-full fusion-layout-column fusion-column-last"><label>Exams may be taken online with a CHAM
        proctor or in person in
        conjunction with the semi-annual HAMA conferences. Please state your preference below:<label>
            [radio examination-preference default:1 "Online with CHAM proctor" "Paper Exam in conjunction with
            semi-annual HAMA conference"]
</div>
<br />
<div class="fusion-one-full fusion-layout-column fusion-column-last"><label>Please check here if you require special
        accommodations to fully participate, and attach a written
        description of requested needs<label>
            <br />
            [checkbox exam-support-needed "I need special accommodations"]
            <br />
            [file exam-support-file]
</div>

<br />
<!--<p>Thanks for filling out the CHAM online application! Please click the button below to securely pay for fee. </p>-->


<div class="fusion-one-full fusion-layout-column fusion-column-last">
    [acceptance acceptance-138 optional] I agree to <a href="/cham/terms">HAMA MEA CHAM Terms and Condition</a>
    [/acceptance]
</div>


<div class="fusion-one-third fusion-layout-column fusion-spacing-yes fusion-column-last">
    [submit "SUBMIT APPLICATION"]
</div>